/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
}

video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lyrics-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.lyrics {
    font-size: 1.2em;
    white-space: pre-wrap;
    margin-bottom: 20px;
}

#quiz-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#answer {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 10px;
    font-size: 1em;
    background-color: gold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #DAA520;
}

#feedback {
    margin-top: 10px;
    font-size: 1em;
}

.missing-word {
    color: yellow;
    font-weight: bold;
}

#feedback {
    margin-top: 10px;
    font-size: 2em;
    font-weight: bold;
}

.correct {
    color: rgb(29, 236, 29);
}

.incorrect {
    color: red;
}
